@font-face {
    font-family: VT323;
    src: url(VT323-Regular.ttf);
}

html {
    box-sizing: border-box;
    color: #fdfcf4;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100vw;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: #563836;
}

.main_container {
    display: flex;
    width: 70vw;
    min-height: 80vh;
    flex: 0 0 auto;
    overflow: hidden;
    border: 3px solid #0f111d;
    border-radius: 20px;
}

.aside {
    width: 50%;
    position: relative;
    background-image: url("background.gif");
    background-position: center;
    background-size: cover;
}

.header {
    position: absolute;
    height: 100%;
    top: 18.7vh;
    width: 100%;
    height: auto;
    background-color: rgba(117, 114, 0, 0.9);
}

h1 {
    text-align: center;
    color: #fdfcf4;
    font-size: 2.5rem;
}

.aside_footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.bottom_left_text {
    text-align: center;
    color: #fdfcf4;
    font-size: 1rem;
}

.bottom_right_text {
    font-size: 1.6rem;
}

a:link,
a:visited {
    color: rgb(216, 39, 25);
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:visited {
    text-decoration: underline;
}

.main_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #07193e;
    border-left: 3px solid #0f111d;
    font-size: 1.5rem;
}

.intro {
    border: 1px solid #0f111d;
    border-radius: 0 20px 0 0;
    padding: 15px;
    background-color: #07394a;
}

.top_right_text {
    text-align: center;
}

.the_form_itself {
    padding: 15px;
    background-color: rgba(216, 39, 25, 0.7);
    border: 1px solid #0f111d;
}

form ul {
    list-style: none;
    padding-left: 0;
}

.user_section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0f111d;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.github-icon {
    transition: 0.5s;
}

.github-icon:hover {
    transform: rotate(360deg) scale(1.25);
    transition: 0.5s;
}

button,
input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 10px 0 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input {
    border: 2px solid #fdfcf4;
    border-radius: 7px;
    height: 30px;
}

input:focus {
    outline: 1px solid #fdfcf4;
    border: 2px solid #2474e4;
}

input:invalid {
    outline: 1px solid #fdfcf4;
    border: 2px solid #e1181f;
}

legend {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

label {
    padding-bottom: 5px;
}

.create_button {
    width: 50%;
    padding: 7px;
    border-radius: 7px;
    background-color: #fdfcf4;
    font-size: 1.7rem;
    transition: all 0.5s;
    cursor: pointer;
}

.create_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.create_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.create_button:hover span {
    padding-right: 25px;
}

.create_button:hover span:after {
    opacity: 1;
    right: 0;
}

.footer_text a {
    color: #ffbc43;
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .main_container {
        width: 80vw;
    }
}


@media (min-width: 850px) and (max-width: 999px) {
    .main_container {
        width: 90vw;
    }
}

@media (max-width: 849px) {
    .main_container {
        flex-direction: column;
        width: 90vw;
    }

    .aside {
        width: 100%;
        min-height: 70vh;
    }

    .main_section {
        width: 100%;
    }

    .intro {
        border-radius: 20px 0 0 0;
    }
}