@font-face {
    font-family: VT323;
    src: url(VT323-Regular.ttf);
}

html {
    box-sizing: border-box;
    color: #fdfcf4;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100vw;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: #563836;
}

.main_container {
    display: flex;
    width: 70vw;
    min-height: 80vh;
    flex: 0 0 auto;
    overflow: hidden;
    border: 3px solid #0f111d;
    border-radius: 20px;
}

.aside {
    width: 50%;
    position: relative;
    background-image: url("background.gif");
    background-position: center;
    background-size: cover;
}

.header {
    position: absolute;
    height: 100%;
    top: 18.7vh;
    width: 100%;
    height: auto;
    background-color: rgba(216, 39, 25, 0.7);
}

h1 {
    text-align: center;
    color: #fdfcf4;
    font-size: 2.5rem;
}

.aside_footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.bottom_left_text {
    text-align: center;
    color: #fdfcf4;
    font-size: 1rem;
}

.bottom_left_text a:link,
a:visited {
    color: rgb(216, 39, 25);
    text-decoration: none;
    font-weight: bold;
}

.bottom_left_text a:hover,
a:visited {
    text-decoration: underline;
}

.main_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #07193e;
    border-left: 3px solid #0f111d;
    font-size: 1.5rem;
}

.intro {
    border: 1px solid #0f111d;
    border-radius: 0 20px 0 0;
    padding: 15px;
    background-color: #07394a;
}

.the_form_itself {
    padding: 15px;
    background-color: rgba(216, 39, 25, 0.7);
    border: 1px solid #0f111d;
}

form ul {
    list-style: none;
    padding-left: 0;
}

.user_section {
    padding: 15px;
    border: 1px solid #0f111d;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.github-icon {
    transition: 0.5s;
}

.github-icon:hover {
    transform: rotate(360deg) scale(1.25);
    transition: 0.5s;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  width: 60%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}